.container {
	padding-top: 20px;
	width: 500px;
	height: 40px;
	display: flex;
}

.ticks {
	width: 500px;
	height: 40px;
	color: white;
	
}

.tick {
	padding-left: 5px;
	position: absolute;
	text-align: center;
}

.item {
	height: 40px;
	flex: 1
}